/* button {
    color: #44a64f;
    font-family: 'Timmana', sans-serif;
    font-size: 15px;
    padding: 0.3rem;
    width: 100px;
    border-radius: 6px;
    text-align: center;
    background: linear-gradient(
     to right bottom,
     rgba(253, 48, 44, 0.52),
     rgba(255, 255, 255, 0.7)
   );
}

.button2 {
    display: block;
    width: 50%;
    padding: 7px 14px;
    border-radius: 10px;
    font-size: medium;
    color: green;
    margin-top: 1.5rem;
    margin-right: 350px;
    margin-left: 350px;
    margin-bottom: 1.5rem;
    background: linear-gradient(
     to right bottom,
     rgba(253, 48, 44, 0.52),
     rgba(255, 255, 255, 0.7)
   );
}

button:hover {
   background-color: magenta;
 }


 input[type=text] {
    padding: 4px; 
    border: 2px solid #ccc; 
    -webkit-border-radius: 5px;
    border-radius: 5px;
  } */