/* FONTS

@import url('https://fonts.googleapis.com/css2?family=Barriecito&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Timmana&display=swap'); */


/* header {  */
    /* background-color: #CD656D; */
    /* text-align: center;
    padding: 30px;
    border-radius: 50px;
    margin-top: 20px;
    font-family: 'Barriecito';
    font-size: 40px;
    font-weight: 700; */
 /* } */

/* small {
  color: black;
  font-size: 20px;
  font-style: italic;
}


 h1 {
     color: black;
     font-weight: 700;
     font-style: oblique;
     letter-spacing: 1rem;
     padding: 0.5rem;
 }



/* ADD PLAYER CONTAINER */
 
/* .add-player {
    padding: 3rem;
    text-align: center;
    border-radius: 90px;
    margin-top: 4rem;
    background: linear-gradient(
      to right bottom,
      rgba(255, 255, 255, 0.7),
      rgba(255, 255, 255, 0.7)
    );
 } */

 /* INPUT STYLING */
 /* input[type=text] {
  padding:8px; 
  border:2px solid #ccc; 
  -webkit-border-radius: 5px;
  border-radius: 5px;
} */


/*DISPLAY ADDED PLAYERS*/

/* .display {
    padding: 2rem;
    text-align: center;
    border-radius: 120px;
    width: 900px;
    justify-content: center;
    /* background-color: #EF1F2C; */
    /* margin-top: 1.5rem;
    margin-right: 200px;
    margin-left: 200px;
    margin-bottom: 1.5rem;
    background: linear-gradient( */
      /* to right bottom,
      rgba(255, 255, 255, 0.7),
      rgba(255, 255, 255, 0.7)
    );
 } */


/* .create {
  background: linear-gradient(
      to right bottom,
      rgba(255, 255, 255, 0.7),
      rgba(255, 255, 255, 0.7)
    );
  
}  */

 /* button {
     color: yellow;
     font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
     padding: 0.5rem;
     width: 100px;
     border-radius: 6px;
     background: linear-gradient(
      to right bottom,
      rgba(253, 48, 44, 0.52),
      rgba(255, 255, 255, 0.7)
    );
 }

 .button2 {
     display: block;
     width: 50%;
     padding: 14px 28px;
     border-radius: 10px;
     font-size: medium;
     color: #93C572;
     background: linear-gradient(
      to right bottom,
      rgba(253, 48, 44, 0.52),
      rgba(255, 255, 255, 0.7)
    );
 }

 button:hover {
    background-color: magenta;
  } */

/* .create-button {
    color: lightcoral;
    background-color: mediumvioletred;
    font-family:
    padding: 0.5rem;
    width: 100px;
    border-radius: 10px;
    
}
 */



/* 
p {
     color: rgb(60, 102, 179);
     font-family: 'Barriecito';
 }
 */

/* article {
    /* background: magenta; */
    /* width: 95%;
    padding: 0.5rem;
    border-radius: 30px;
    margin: 0.5rem;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    text-transform: uppercase;
    background: linear-gradient(
      to right bottom,
      rgba(255, 255, 255, 0.7),
      rgba(255, 255, 255, 0.7)
    );
 } */ 

/*add player*/

 /* form {
    /* background: magenta; */
    /* width: 95%;
    padding: 0.5rem;
    border-radius: 30px;
    margin: 0.5rem;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center; */
    /* text-transform: uppercase;
     */
    /* background: linear-gradient(
      to right bottom,
      rgba(255, 255, 255, 0.7),
      rgba(255, 255, 255, 0.7)
    ); */
 

/* 
 h3 {
     color: coral;
     font-family: 'Timmana', sans-serif;
     letter-spacing: 0.1rem;
     font-size: 30px;
 }

.enter-nametext {
    padding: 0.5rem;
    text-align: center;
    border-radius: 10px;
    background-color: #EF1F2C;
    margin-top: 5.5rem;
} */

/* Added List Items  */

/* .list-group {
    color: coral;
    font-family: 'Timmana', sans-serif;
    justify-content: flex-end;
    flex-direction: column-reverse;
}

 */
